<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<script src="lib/fabric/dist/fabric.js"></script>-->
    <script data-main="javascripts/main" src="lib/requirejs/require.js"></script>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div style="background:#000; width:640px">
      <canvas id="canvas" width="640" height="480"></canvas>
    </div>
  </body>
  </body>
</html>
